:root {
    --text-color: #333;
    --base-color: #fff;
    --blue-color: #1A7DF0;
    --yellow-color: #FFE711;
    --bs-btn-bg: #1A7DF0;
    --highlight-text-color: #1A7DF0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #fff;
    --base-color: #333;
    --highlight-text-color: #FFE711;
  }
}


$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$border-radius: 30px;
$marginBottom: var(--bs-gutter-x);